@font-face {
  font-family: 'Graphik1';
  src: url(fonts/Graphik-Font-Family/GraphikMedium.otf);
}

@font-face {
  font-family: 'Graphik0';
  src: url(fonts/Graphik-Font-Family/GraphikLight.otf);
}

@font-face {
  font-family: 'Graphik2';
  src: url(fonts/Graphik-Font-Family/GraphikRegular.otf);
}




@media only screen and (min-width: 769px) {

#test {
    color: white;
  }

:root {
    /* Justify-content geht nicht ohne displax FLEX
    mit diesem Code zentrieren wir unsere Element horizontal */
    display: flex;
    justify-content: center;
    /* Align-Item geht nicht ohne HEIGHT:
    mit diesem Code zentrieren wir unsere Element vertikal */
    align-items: center;
    height: 100vh;
    width: auto;
    text-align: center;
    overflow: hidden;
}


#song {
    z-index: 1;
    margin-top: 20px;
    height: 400px;
    width: 400px;
    margin-bottom: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.022);
    background-position: center;
    background-size: cover;
    transition: all ease 0.1s;
}


.zuruckspulen {
  background-size: cover;
  margin-top: 15px;
  margin-right: 25px;
  z-index: 1;
  cursor: pointer;
  width: 25px;
  height: 25px;
  filter: brightness(0) invert(1);
  user-select: none;
  transition: all ease 0.15s;
  transform: rotate(360deg);
}

#zuruck {
  background-size: cover;
  margin-top: 15px;
  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
  user-select: none;
}

#stopp {
    transition: src 0.5s ease;
    margin: 30px 40px 0px 60px;
    color: white;
    z-index: 1;
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: brightness(0) invert(1);
    user-select: none;
}

#weiter {
    background-size: cover;
    margin-top: 15px;
    z-index: 1;
    cursor: pointer;
    width: 40px;
    height: 40px;
    filter: brightness(1) invert(1);
    user-select: none;
}

#vorspulen {
  background-size: cover;
  margin-top: 15px;
  margin-left: 25px;
  z-index: 1;
  cursor: pointer;
  width: 25px;
  height: 25px;
  filter: brightness(1) invert(1);
  user-select: none;
  transition: all ease 0.15s;
  transform: rotate(0deg);
}

#container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px; /* Hier den gewünschten Abstand einstellen */
    display: grid;
    grid-template-areas: "links rechts";
    transition: 1s all ease;
}
  
#container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: var(--background-image, url(Wallpaper/defaultSongCover.jpg  ));
  background-size: cover;
  filter: blur(50px); /* Hier die gewünschte Blur-Stärke einstellen */
  transform: scale(1.2); 
  overflow: hidden;
  z-index: -1;
  transition: 1s all ease;
}

#container::after {
  transition: 1s all ease;
}

#test {
  padding-top: 10px;
  font-size: 15px;
  font-family: Graphik0;
}

  #links {
    padding-top: 20px;
    padding-left: 150px;
    grid-area: links;
  }

  #rechts {
    box-shadow: 0 0px 10px rgba(0.2, 0.2, 0.2, 0.2);
    background-color: rgba(0, 0, 0, 0.11);
    border: 0.5px solid rgba(0, 0, 0, 0.198);
    border-radius: 10px;
    width: 500px;
    height: 320px;
    padding-top: 100px;
    grid-area: rechts;
    margin-top: 30px;
  }

  #artist {
    font-family: Graphik1;
    margin-top: -10px;
    margin-bottom: 0;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 35px;
    font-weight: 800;
    transition: all ease 0.4s;
  }

#name {
    font-family: Graphik2;
    margin-top: 3px;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 25px;
    transition: all ease 0.4s;
  }

  #album {
    font-family: Graphik0;
    margin-bottom: 3px;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 15px;
    transition: all ease 1s;
  }

  #slider {
    width: 350px;
    margin-top: 40px;
    cursor: pointer;
  }

  #anfang {
    margin: 60px 0px 0px 2px;
    position: fixed;
    font-family: Graphik0;
    font-size: 15px;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black;
    cursor: pointer;
  }

  #ende {
    margin: 60px 0 0 -35px;
    position: fixed;
    font-family: Graphik0;
    font-size: 15px;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black;
    cursor: pointer;
  }
 
  #input {
    display: none;
  }

  #inputButton {
    top: 80px;
    left: 730px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.25s all ease;
    filter: brightness(0) invert(1);
    user-select: none;
  }

#inputButton:hover {
  transform: scale(1.1);
}

input[type='range'] {
  cursor: pointer;
  overflow: hidden;
  width: 80px;
  -webkit-appearance: none;
  background-color: rgba(128, 128, 128, 0.667);
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  background: #ffffff;
  box-shadow: -200px 0 0 200px #ffffffaf;
}



#shuffleAndAutoplayButtonContainer {
  display: flex;
}


#shuffleAndAutoplayButtonContainerLeft {
  flex-basis: 50%;
}





.autoPlayButtonImage {
position: fixed;
display: inline-block;
width: 35px;
margin: 7px 0px 0 -16px;
filter:invert(1);
transition: all ease 0.4s;
z-index: 8;
}

.autoPlayButtonImageOn {
position: fixed;
display: inline-block;
width: 35px;
margin: 7px 0px 0 -16px;
z-index: 8;
transition: all ease 0.4s;
filter:invert(1);
}

.autoPlayButton {
position: fixed;
box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
border: 0.5px solid rgba(0, 0, 0, 0.198);
margin: 25px 0px 0 30px;
display: inline-block;
border-radius: 5px;
width: 70px;
height: 42px;
cursor: pointer;
transition: all ease 0.4s;
user-select: none;
z-index: 10;
}

.autoPlayButtonOn {
  position: fixed;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.563);
  border: 0.5px solid rgba(0, 0, 0, 0);
  margin: 25px 0px 0 30px;
  display: inline-block;
  border-radius: 5px;
  width: 70px;
  height: 42px;
  cursor: pointer;
  transition: all ease 0.4s;
  z-index: 10;
  user-select: none;
}









#shuffleAndAutoplayButtonContainerRight {
  flex-basis: 50%;
}

.randomSong {
  position: fixed;
  filter:invert(1);
  display: inline-block;
  margin: 8px 0px 0 -12px;
  width: 25px;
  z-index: 8;
  transition: all ease 0.4s;
  user-select: none;
}

.randomSongOn {
  position: fixed;
  filter: invert(1);
  display: inline-block;
  margin: 8px 0px 0 -12px;
  width: 25px;
  transition: all ease 0.4s;
  z-index: 8;

  user-select: none;
}

.randomSongBackground {
  position: fixed;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgba(0, 0, 0, 0.198);
  margin: 25px 0px 0 -100px;
  display: inline-block;
  border-radius: 5px;
  width: 70px;
  height: 42px;
  cursor: pointer;
  z-index: 10;
  transition: all ease 0.4s;
  user-select: none;
}

.randomSongBackgroundOn {
  position: fixed;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.563);
  border: 0.5px solid rgba(0, 0, 0, 0);
  margin: 25px 0px 0 -100px;
  display: inline-block;
  border-radius: 5px;
  width: 70px;
  height: 42px;
  cursor: pointer;
  transition: all ease 0.4s;
  z-index: 10;
  user-select: none;
}









dialog::-webkit-scrollbar {
  width: 10px;
}

dialog::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

dialog::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

dialog::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}



@keyframes dialogPop {
  from {
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes dialogClose {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
  }
}


.dialogButton {
  cursor: pointer;
  position: fixed;
  display: flex;
  width: 25px;
  margin: -60px 0px 0px 35px;
  transition: all ease 1s;
}

.dialogButton:hover {
  transform: scale(1.06);
  filter: brightness(1) invert(0.3);
}


dialog {
  scrollbar-width: thin;
  scrollbar-color: #999 #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgba(0, 0, 0, 0.198);
  background-color: #f2f2f2fc;
  border-radius: 5px;
  width: 1000px;
  height: 600px;
  transition: all 2.5s;
  user-select: none;
  font-family: Graphik2;
  font-size: 20px;
  animation: dialogPop 0.3s ease-in-out forwards;
}

dialog.closed {
  animation: dialogClose 0.3s ease-in-out forwards;
}


dialog::backdrop {
  transition: all ease 0.5s;
  user-select: none;
}

.dialogCloseButton {
  width: 40px;
  height: 40px;
  position: fixed;
  position: sticky;
  margin-top: 25px;
  margin-right: 20px;
  transition: all ease 1s;
  filter: invert(0.2);
}


.dialogCloseButton:hover {
  filter: invert(0.5);
  transition: all ease 1s;
  transform: scale(1.07);
}


#dialogHeader {
/* Top und Sticky machen HeaderElemente Sticky */
  top: -20px;
  position: sticky;
  display: flex;
  width: 1010px;
  height: 100px;
  z-index: 10;
  background-color: #f2f2f2fc;
}

#dialogHeadline {
  flex-basis: 99%;
  text-shadow:  0 0px 10px rgba(0, 0, 0, 0.1);;
  font-size: 30px;
  font-family: Graphik1;
  padding-top: 50px;
  margin-left: 80px;
  margin-top: -20px;
  vertical-align: middle;
  text-align: center;
}
}



















@media only screen and (max-width: 768px) {

  #test {
    color: white;
  }

  :root {
      /* Justify-content geht nicht ohne displax FLEX
      mit diesem Code zentrieren wir unsere Element horizontal */
      display: flex;
      justify-content: center;
      /* Align-Item geht nicht ohne HEIGHT:
      mit diesem Code zentrieren wir unsere Element vertikal */
      align-items: center;
      height: 100vh;
      width: auto;
      text-align: center;
      overflow: hidden;
  }
  
  
  #song {
      z-index: 1;
      margin-top: 20px;
      height: 200px;
      width: 200px;
      margin-bottom: 20px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.022);
      background-position: center;
      background-size: cover;
  }
  
  
  #zuruck {
    background-size: cover;
    margin-top: 15px;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
  }
  
  #stopp {
      transition: src 0.5s ease;
      margin: 30px 50px 0px 70px;
      color: white;
      z-index: 1;
      width: 20px;
      height: 20px;
      cursor: pointer;
      filter: brightness(0) invert(1);
  }
  
  #weiter {
      background-size: cover;
      margin-top: 15px;
      z-index: 1;
      cursor: pointer;
      width: 20px;
      height: 20px;
      filter: brightness(0) invert(1);
  }
  
  #container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px; /* Hier den gewünschten Abstand einstellen */
      display: grid;
      grid-template-areas: "links rechts";
  }
    
  #container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: var(--background-image, url(Wallpaper/defaultSongCover.jpg  ));
    background-size: cover;
    filter: blur(50px); /* Hier die gewünschte Blur-Stärke einstellen */
    transform: scale(1.2); 
    overflow: hidden;
    z-index: -1;
    transition: 0.25s all ease;
  }
  
  
    #links {
      padding-top: 5px;
      padding-left: 100px;
      grid-area: links;
    }
  
    #rechts {
      box-shadow: 0 0px 10px rgba(0.2, 0.2, 0.2, 0.2);
      background-color: rgba(0, 0, 0, 0.11);
      border: 0.5px solid rgba(0, 0, 0, 0.198);
      border-radius: 20px;
      width: 270px;
      height: 170px;
      padding-top: 50px;
      grid-area: rechts;
      margin-top: 15px;
    }
  
    #artist {
      font-family: Graphik1;
      color: white;
      text-shadow: 0.5px 0.5px 0.5px black;
      font-size: 20px;
      font-weight: 800;
    }
  
  #name {
    font-family: Graphik2;
      margin-top: 3px;
      color: white;
      text-shadow: 0.5px 0.5px 0.5px black;
      font-size: 12.5px;
    }
  
    #album {
      font-family: Graphik0;
      margin-bottom: 3px;
      color: white;
      text-shadow: 0.5px 0.5px 0.5px black;
      font-size: 7.5px;
    }
  
    #slider {
      width: 175px;
      margin-top: 35px;
    }
  
    #anfang {
      font-family: Graphik0;
      font-size: 7.5px;
      color: white;
      text-shadow: 0.5px 0.5px 0.5px black;
    }
  
    #ende {
      font-family: Graphik0;
      font-size: 7.5px;
      color: white;
      text-shadow: 0.5px 0.5px 0.5px black;
    }
   
    #input {
      display: none;
    }
  
    #inputButton {
      top: 80px;
      left: 900px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: 0.25s all ease;
      filter: brightness(0) invert(1);
    }
  
  #inputButton:hover {
    width: 35x;
    height: 35px;
  }

  input[type='range'] {
    cursor: pointer;
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: rgba(128, 128, 128, 0.667);
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 5px;
    background: #ffffff;
    box-shadow: -200px 0 0 200px #ffffffaf;
  }
  }